<header>
    <img id="header-logo" style="margin-top: 5px; width:69px; height:46px"
        src="{{ "/res/img/header.gif" | relative_url }}" width="104" height="69" alt="pavlik_tt">
    <br />
    <nav style="width:100%">
        <table class="navbar">
            <tr>
                <td> 
                    <a href="{{ "/" | relative_url }}">[Home]</a>
                    <a href="{{ "/blog/" | relative_url }}">[Blog]</a>
                    <a href="{{ "/news/" | relative_url }}">[News]</a>
                </td>
                <td style="text-align: right;">
                    <a href="https://url.pavliktt.pp.ua/">[URL Shortener]</a>
                    <a href="https://github.com/pavlik-dev/finfo/">[finfo]</a>
                    <a href="{{ "/mincpu/" | relative_url }}">[minCPU]</a>
                </td>
            </tr>
        </table>
        <hr>
    </nav>
</header>
