<header>
    <img id="header-logo" style="margin-top: 5px; width:69px; height:46px"
        src="http://static.pavliktt.pp.ua/header-big.gif" width="104" height="69" alt="pavlik_tt">
    <br />
    <nav style="width:100%">
        <table class="navbar">
            <tr>
                <td> 
                    <a href="/">[Home]</a>
                    <a href="/blog/">[Blog]</a>
                    <a href="/news/">[News]</a>
                </td>
                <td style="text-align: right;">
                    <a href="https://github.com/pavlik-dev/finfo/">[finfo]</a>
                    <a href="/mincpu/">[minCPU]</a>
                </td>
            </tr>
        </table>
        <hr>
    </nav>
</header>