:root {
    --green: lightgreen;
    --yellow: yellow;
    --red: red;
}

body {
    background-color: black;
    color: white;
}

.content {
    text-align: left;
}

.center {
    text-align: center;
    max-width: 525px;
    margin: auto;
    width: auto !important;
    width: 525px;
}

main {
    text-align: left !important;
}

a {
    color: white;
    min-height: 25px;
    min-width: 25px;
    display: inline-block;
}

.page-holder {
    border-collapse: collapse;
    padding: 5px;
}

.page-holder .title {
    text-align: center;
}

.page-holder td {
    vertical-align: top;
    padding: 5px;
}

header {
    height: 69px;
    background-image: url(//static.pavliktt.pp.ua/header-big.gif);
    background-position: 50% 0%;
    background-size: 69px 46px;
    background-repeat: no-repeat;
    vertical-align: bottom;
    position: relative;
}

header nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

.navbar {
    width: 100%;
    font-family: monospace;
    font-weight: bold;
}

.navbar a {
    /* padding: 0px 5px; */
    text-decoration: none;
    font-size: 13px;
    display: inline;
    /* margin:0; */
}

.navbar a::before {
    content: "[";
    opacity: 0;
}

.navbar a::after {
    content: "]";
    opacity: 0;
}

.navbar a:hover {
    background-color: darkblue;
}

.navbar a:hover::before {
    content: "[";
    opacity: 1;
}

.navbar a:hover::after {
    content: "]";
    opacity: 1;
}

h1 {
    text-align: center;
}
