@font-face {
    font-family: LucidaGrandeUI;
    src: url(LucidaGrandeUI.ttf);
    font-display: swap;
}

body {
    background-color: rgb(81, 129, 183);
    font-family: LucidaGrandeUI, sans-serif;
    color: white;
    max-width: 550px;
    margin: auto;
    margin-top: 12px;
}

#content {
    width: 100%;
    text-align: center;
    color: black;
}

.section table.header {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    height: 22px;
    text-align: center;
    color: black;
}

.section table.header td {
    padding: 0;
    margin: 0;
    height: 22px;
}

.section table.header td p {
    padding: 0;
    margin: 0;
}

.section .header .header-left {
    background-image: url(header-left.gif);
    width: 64px;
}

.section .header .header-left:hover {
     background-position: 64px 0px;
}

.section .header .header-center {
    background-image: url(header-center.gif);
}

.header-center span {
    font-size: 13px;
    line-height: 22px;
    display: inline-block;
    transform: translate(-28px, 0px);
    -webkit-transform: translate(-28px, 0px);
    -ms-transform: translate(-28px, 0px);
    -moz-transform: translate(-28px, 0px);
    -o-transform: translate(-28px, 0px);
}

.section .header .header-right {
    background-image: url(header-right.gif);
    width: 9px;
    height: 22px;
}

.section {
    text-align: left;
    filter: drop-shadow(0px 6px 6.5px rgba(0, 0, 0, 0.42));
    -webkit-filter: drop-shadow(0px 6px 6.5px rgba(0, 0, 0, 0.42));
    -ms-filter: drop-shadow(0px 6px 6.5px rgba(0, 0, 0, 0.42));
}

.section .content {
    padding: 5px 7px;
    background-color: white;
    font-size: 13px;
}

.text-icon {
    vertical-align: text-top;
}

a[href^="https://"]::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(lock.gif) no-repeat center;
    background-size: contain;
    margin-left: 4px;
    vertical-align: middle;
}