---
layout: default
---

{% capture locator %}
  <a href="/photos/">Photos</a> &gt;
  <a href="../">{{ page.album }}</a> &gt;
  <a href="#">{{ page.title }}</a>
{% endcapture %}

<a href="/assets/photos/{{ page.filename }}"><img style="width: 100%;" src="/assets/photos-thumb/{{ page.filename }}" /></a>

<h2>{{ page.title | default: page.filename }}</h2>

<p><a href="/assets/photos-thumb/{{ page.filename }}">View thumbnail</a> | <a href="/assets/photos/{{ page.filename }}">View full photo</a> (or just click the image)</p>

<p>
    In the <a href="../">{{ page.album }}</a> album.<br/>
</p>
<p>
    <h3>Metadata</h3>
    <div class="metadata-grid">
        {% if page.camera %}
        {% include metadata_row.html icon="camera" name="Camera" value=page.camera %}
        {% endif %}
        {% if page.date %}
        {% include metadata_row.html icon="calendar" name="Date" value=page.date %}
        {% endif %}
        {% if page.fullsize %}
        {% capture size_value %}
        {{ page.thumbsize | default: "N/A" }} (thumbnail), {{ page.fullsize | default: "N/A" }} (full photo)
        {% endcapture %}

        {% include metadata_row.html
            icon="arrow_inout"
            name="Size"
            value=size_value
        %}
        {% endif %}
        {% if page.aperture %}
        {% include metadata_row.html icon="eye" name="Aperture" value=page.aperture %}
        {% endif %}
        {% if page.exposure %}
        {% include metadata_row.html icon="clock" name="Exposure" value=page.exposure %}
        {% endif %}
        {% if page.iso %}
        {% include metadata_row.html icon="lightning" name="ISO" value=page.iso %}
        {% endif %}
        {% if page.focal %}
        {% include metadata_row.html icon="magnifier" name="Focal length" value=page.focal %}
        {% endif %}
        {% if page.software %}
        {% include metadata_row.html icon="pencil" name="Processed/modified with" value=page.software %}
        {% endif %}
    </div>
</p>
